<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.banking.ESRView"
            id="elexis-ebanking-schweiz.ESRView"
            name="ESR"/>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.banking.ESRView2"
            id="ch.elexis.banking.ESRView2"
            name="ESR Tabelle">
      </view>
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.banking.ESRView3"
            id="ch.elexis.ebanking_ch.esrview3"
            name="ESR"
            restorable="true">
      </view>
   </extension>

</plugin>
